.Details_Container  {
    border-style: ridge;
    border-color: #9E2A2B;
    border-width: 5px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 40px;
    background-color: white;
}

.Details_SideBySide_Container{
    display: flex;
    align-items: center;
}


.Details p, ul, li {
    text-align: center;
    padding: 0;
    margin: 0;
}

.Details_img{
    margin: 20px;
    width: 50%;
    height: 50%;
    border-radius: 20%;
    box-shadow: 5px 3px 10px 5px #335c67;
}

.EventDetails{
    display: flex;
    flex-direction: column;
    border-style: solid;
    align-items: center;
    padding: 10px;
    font-family: 'Raleway';
}

.Details_Btn{
   padding: 10px;
   margin-top:5px;
}

.Details_Btn:hover{
    box-shadow: 20px 10px 30px 10px #E09F3E;
}

.Details_ReviewSection{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Details_ReviewSectionTitle{
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #9E2A2B;
    text-shadow: 3px 3px 5px #335c67;

}

.Details_EventReviews_Container{
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 600px) {
    
    .Details{
        width: 100%;

    }

    .Details_img{
        width: 80%;
    }

    .Details_SideBySide_Container{
        flex-direction: column;
    }

    .Details_EventReviews_Container{
        display: flex;
        flex-direction: column;
    }
}