.Homepage_EventDisplay{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.Homepage_SingleEvent{
    padding: 5px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dashed;
    border-color: blue;  
}

.Homepage_AddBtn{
    margin: 0px 10px;
}