.Homepage_EventDisplay{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.Homepage_SingleEvent{
    padding: 5px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Homepage_AddBtn{
    margin: 0px 10px;
    padding: 10px;
}

.Homepage_AddBtn:hover{
    background-color: #9E2A2B;
    color: white;
    border-color: #9E2A2B;
    box-shadow: 5px 5px 10px 3px #335c67;
}

.Homepage_UserForm_Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ShowForm_Nvm{
    width: 20%;
    margin-top: 10px;
    padding: 5px;
    font-family: "Lato";
}

@media only screen and (max-width: 600px) {
    .Homepage_EventDisplay{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Homepage_SingleEvent{
        width: 50vw;
    }

}