.SingleUserReview{
    border-style: ridge;
    border-color: #335c67;
    border-width: 5px;
    background-color:  #FFF3B0;
    color: #335C67;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px 3px #335c67;
    width: 100%;
}