.headerdiv {
    position: sticky;
    top: 0px;
}

.ShowForm{
    position: fixed;
}

h1{
    font-family: "Raleway";
}

body{
    font-family: "Lato";
    background-color: lightgray;
}

button{
    background-color: #335C67;
    color: white;
    border-color: #335C67;
}
